<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../css/chessStyle.css" rel="stylesheet" type="text/css"/>
    <title>크리스마스 체스</title>
</head>

<body>
<div id="gameUI">
    <h1 id="title">크리스마스 체스</h1>
    <h2>id 값과 방이름을 꼭 기억해주세요</h2>
    <div id="chessBoard">
        {{#chessPieces}}
            <div id="{{position}}" class="tile">
                {{#if piece}}
                    <img alt="position" class="tileImage" src="../images/{{piece}}.png"/>
                {{else}}
                    <img alt="empty" src="../images/blank.png"/>
                {{/if}}
            </div>
        {{/chessPieces}}
    </div>

    <div id="commandUI">
        <div id="current_team">{{currentTeam}}팀 차례입니다.</div>
        {{#if currentTeamScore}}
            <div id="chess_score">{{currentTeam}}팀의 현재 점수는 {{currentTeamScore}}점 입니다.</div>
        {{/if}}
        <h3>방 id</h3>
        <input id = "roomNumber" value = "{{roomNumber}}">

        <br>
        <br>

        <h3>방이름</h3>
        <input id = "roomNamer" value = "{{roomName}}">
        <form action="/end" method="get">
            <button>종료하기</button>
        </form>
    </div>
</div>
<script type="text/javascript" src="../js/chess.js"></script>
</body>

</html>