<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>체스</title>
    <link href="./style.css" rel="stylesheet">
</head>
<body>

{{#room.pieceMap}}
<div class="game-board">
    <div>
        <table class="chessboard">
            <tr class="chess-row">
                <td class="chess-cell corner"></td>
                <td class="chess-cell edge">a</td>
                <td class="chess-cell edge">b</td>
                <td class="chess-cell edge">c</td>
                <td class="chess-cell edge">d</td>
                <td class="chess-cell edge">e</td>
                <td class="chess-cell edge">f</td>
                <td class="chess-cell edge">g</td>
                <td class="chess-cell edge">h</td>
                <td class="chess-cell corner"></td>
            </tr>
            <tr class="chess-row">
                <td class="chess-cell side">8</td>
                <td class="chess-cell light" id="a8">{{a8}}</td>
                <td class="chess-cell dark" id="b8">{{b8}}</td>
                <td class="chess-cell light" id="c8">{{c8}}</td>
                <td class="chess-cell dark" id="d8"> {{d8}}</td>
                <td class="chess-cell light" id="e8">{{e8}}</td>
                <td class="chess-cell dark" id="f8"> {{f8}}</td>
                <td class="chess-cell light" id="g8">{{g8}}</td>
                <td class="chess-cell dark" id="h8"> {{h8}}</td>
                <td class="chess-cell side">8</td>
            </tr>
            <tr class="chess-row">
                <td class="chess-cell side">7</td>
                <td class="chess-cell dark" id="a7"> {{a7}}</td>
                <td class="chess-cell light" id="b7">{{b7}}</td>
                <td class="chess-cell dark" id="c7"> {{c7}}</td>
                <td class="chess-cell light" id="d7">{{d7}}</td>
                <td class="chess-cell dark" id="e7"> {{e7}}</td>
                <td class="chess-cell light" id="f7">{{f7}}</td>
                <td class="chess-cell dark" id="g7"> {{g7}}</td>
                <td class="chess-cell light" id="h7">{{h7}}</td>
                <td class="chess-cell side">7</td>
            </tr>
            <tr class="chess-row">
                <td class="chess-cell side">6</td>
                <td class="chess-cell light" id="a6">{{a6}}</td>
                <td class="chess-cell dark" id="b6"> {{b6}}</td>
                <td class="chess-cell light" id="c6">{{c6}}</td>
                <td class="chess-cell dark" id="d6"> {{d6}}</td>
                <td class="chess-cell light" id="e6">{{e6}}</td>
                <td class="chess-cell dark" id="f6"> {{f6}}</td>
                <td class="chess-cell light" id="g6">{{g6}}</td>
                <td class="chess-cell dark" id="h6"> {{h6}}</td>
                <td class="chess-cell side">6</td>
            </tr>
            <tr class="chess-row">
                <td class="chess-cell side">5</td>
                <td class="chess-cell dark" id="a5"> {{a5}}</td>
                <td class="chess-cell light" id="b5">{{b5}}</td>
                <td class="chess-cell dark" id="c5"> {{c5}}</td>
                <td class="chess-cell light" id="d5">{{d5}}</td>
                <td class="chess-cell dark" id="e5"> {{e5}}</td>
                <td class="chess-cell light" id="f5">{{f5}}</td>
                <td class="chess-cell dark" id="g5"> {{g5}}</td>
                <td class="chess-cell light" id="h5">{{h5}}</td>
                <td class="chess-cell side">5</td>
            </tr>
            <tr class="chess-row">
                <td class="chess-cell side">4</td>
                <td class="chess-cell light" id="a4">{{a4}}</td>
                <td class="chess-cell dark" id="b4">{{b4}}</td>
                <td class="chess-cell light" id="c4">{{c4}}</td>
                <td class="chess-cell dark" id="d4">{{d4}}</td>
                <td class="chess-cell light" id="e4">{{e4}}</td>
                <td class="chess-cell dark" id="f4">{{f4}}</td>
                <td class="chess-cell light" id="g4">{{g4}}</td>
                <td class="chess-cell dark" id="h4">{{h4}}</td>
                <td class="chess-cell side">4</td>
            </tr>
            <tr class="chess-row">
                <td class="chess-cell side">3</td>
                <td class="chess-cell dark" id="a3">{{a3}}</td>
                <td class="chess-cell light" id="b3">{{b3}}</td>
                <td class="chess-cell dark" id="c3">{{c3}}</td>
                <td class="chess-cell light" id="d3">{{d3}}</td>
                <td class="chess-cell dark" id="e3">{{e3}}</td>
                <td class="chess-cell light" id="f3">{{f3}}</td>
                <td class="chess-cell dark" id="g3">{{g3}}</td>
                <td class="chess-cell light" id="h3">{{h3}}</td>
                <td class="chess-cell side">3</td>
            </tr>
            <tr class="chess-row">
                <td class="chess-cell side">2</td>
                <td class="chess-cell light" id="a2">{{a2}}</td>
                <td class="chess-cell dark" id="b2">{{b2}}</td>
                <td class="chess-cell light" id="c2">{{c2}}</td>
                <td class="chess-cell dark" id="d2">{{d2}}</td>
                <td class="chess-cell light" id="e2">{{e2}}</td>
                <td class="chess-cell dark" id="f2">{{f2}}</td>
                <td class="chess-cell light" id="g2">{{g2}}</td>
                <td class="chess-cell dark" id="h2">{{h2}}</td>
                <td class="chess-cell side">2</td>
            </tr>
            <tr class="chess-row">
                <td class="chess-cell side">1</td>
                <td class="chess-cell dark" id="a1">{{a1}}</td>
                <td class="chess-cell light" id="b1">{{b1}}</td>
                <td class="chess-cell dark" id="c1">{{c1}}</td>
                <td class="chess-cell light" id="d1">{{d1}}</td>
                <td class="chess-cell dark" id="e1">{{e1}}</td>
                <td class="chess-cell light" id="f1">{{f1}}</td>
                <td class="chess-cell dark" id="g1">{{g1}}</td>
                <td class="chess-cell light" id="h1">{{h1}}</td>
                <td class="chess-cell side">1</td>
            </tr>
            <tr class="chess-row">
                <td class="chess-cell corner"></td>
                <td class="chess-cell edge">a</td>
                <td class="chess-cell edge">b</td>
                <td class="chess-cell edge">c</td>
                <td class="chess-cell edge">d</td>
                <td class="chess-cell edge">e</td>
                <td class="chess-cell edge">f</td>
                <td class="chess-cell edge">g</td>
                <td class="chess-cell edge">h</td>
                <td class="chess-cell corner"></td>
            </tr>
        </table>
    </div>
    <div class="controller">
        <div class="move-chess-piece">
            <form action="/move" method="post">
                <div class="title"> 말 이동</div>
                <br/>
                <div class="user-input-form">
                    <div> 출발</div>
                    <div class="text-input">
                        <input id="source" name="source" type="text"/>
                    </div>
                </div>
                <div class="user-input-form">
                    <div> 도착</div>
                    <div class="text-input">
                        <input id="destination" name="destination" type="text"/>
                    </div>
                </div>
                <input type="submit">
                {{#error}}
                <div> 말이 이동할 수 없습니다.</div>
                {{/error}}
                <input name="room-id" type="hidden" value={{room.id}}>
            </form>
        </div>
        <div class="show-turn"> {{room.turn}}의 차례입니다.</div>
        <div class="show-room-id">방 이름 : {{room.name}}</div>
        <div class="show-score">
            <div class="title"> 점수 보기</div>
            <div class="user-input-form">흰색 : {{room.teamWhiteScore}} 점</div>
            <div class="user-input-form">검은색: {{room.teamBlackScore}} 점</div>
        </div>
        <div class="initialize">
            <div class="title"> 초기화</div>
            <form action="/initialize" class="initialize-button" method="post">
                <input class="initialize-button" type="submit" value="새 게임">
                <input name="room-id" type="hidden" value={{room.id}}>
            </form>
        </div>
    </div>
</div>
{{/room.pieceMap}}

</body>
</html>