<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>모두의 체스</title>
    <link href="/css/chess_web.css" rel="stylesheet" type="text/css"/>
    <script src="/js/chess_web.js" type="text/javascript"></script>
</head>
<body>
<div class="container">
    <div class="game_ui">
        <table cellpadding="0" cellspacing="0" id="chess_board">
            <tr>
                <td class="cell" id="A8">{{game_info.pieces.0}}</td>
                <td class="cell" id="B8">{{game_info.pieces.1}}</td>
                <td class="cell" id="C8">{{game_info.pieces.2}}</td>
                <td class="cell" id="D8">{{game_info.pieces.3}}</td>
                <td class="cell" id="E8">{{game_info.pieces.4}}</td>
                <td class="cell" id="F8">{{game_info.pieces.5}}</td>
                <td class="cell" id="G8">{{game_info.pieces.6}}</td>
                <td class="cell" id="H8">{{game_info.pieces.7}}</td>
                <td class="coordinate">8</td>
            </tr>
            <tr>
                <td class="cell" id="A7">{{game_info.pieces.8}}</td>
                <td class="cell" id="B7">{{game_info.pieces.9}}</td>
                <td class="cell" id="C7">{{game_info.pieces.10}}</td>
                <td class="cell" id="D7">{{game_info.pieces.11}}</td>
                <td class="cell" id="E7">{{game_info.pieces.12}}</td>
                <td class="cell" id="F7">{{game_info.pieces.13}}</td>
                <td class="cell" id="G7">{{game_info.pieces.14}}</td>
                <td class="cell" id="H7">{{game_info.pieces.15}}</td>
                <td class="coordinate">7</td>
            </tr>
            <tr>
                <td class="cell" id="A6">{{game_info.pieces.16}}</td>
                <td class="cell" id="B6">{{game_info.pieces.17}}</td>
                <td class="cell" id="C6">{{game_info.pieces.18}}</td>
                <td class="cell" id="D6">{{game_info.pieces.19}}</td>
                <td class="cell" id="E6">{{game_info.pieces.20}}</td>
                <td class="cell" id="F6">{{game_info.pieces.21}}</td>
                <td class="cell" id="G6">{{game_info.pieces.22}}</td>
                <td class="cell" id="H6">{{game_info.pieces.23}}</td>
                <td class="coordinate">6</td>
            </tr>
            <tr>
                <td class="cell" id="A5">{{game_info.pieces.24}}</td>
                <td class="cell" id="B5">{{game_info.pieces.25}}</td>
                <td class="cell" id="C5">{{game_info.pieces.26}}</td>
                <td class="cell" id="D5">{{game_info.pieces.27}}</td>
                <td class="cell" id="E5">{{game_info.pieces.28}}</td>
                <td class="cell" id="F5">{{game_info.pieces.29}}</td>
                <td class="cell" id="G5">{{game_info.pieces.30}}</td>
                <td class="cell" id="H5">{{game_info.pieces.31}}</td>
                <td class="coordinate">5</td>
            </tr>
            <tr>
                <td class="cell" id="A4">{{game_info.pieces.32}}</td>
                <td class="cell" id="B4">{{game_info.pieces.33}}</td>
                <td class="cell" id="C4">{{game_info.pieces.34}}</td>
                <td class="cell" id="D4">{{game_info.pieces.35}}</td>
                <td class="cell" id="E4">{{game_info.pieces.36}}</td>
                <td class="cell" id="F4">{{game_info.pieces.37}}</td>
                <td class="cell" id="G4">{{game_info.pieces.38}}</td>
                <td class="cell" id="H4">{{game_info.pieces.39}}</td>
                <td class="coordinate">4</td>
            </tr>
            <tr>
                <td class="cell" id="A3">{{game_info.pieces.40}}</td>
                <td class="cell" id="B3">{{game_info.pieces.41}}</td>
                <td class="cell" id="C3">{{game_info.pieces.42}}</td>
                <td class="cell" id="D3">{{game_info.pieces.43}}</td>
                <td class="cell" id="E3">{{game_info.pieces.44}}</td>
                <td class="cell" id="F3">{{game_info.pieces.45}}</td>
                <td class="cell" id="G3">{{game_info.pieces.46}}</td>
                <td class="cell" id="H3">{{game_info.pieces.47}}</td>
                <td class="coordinate">3</td>
            </tr>
            <tr>
                <td class="cell" id="A2">{{game_info.pieces.48}}</td>
                <td class="cell" id="B2">{{game_info.pieces.49}}</td>
                <td class="cell" id="C2">{{game_info.pieces.50}}</td>
                <td class="cell" id="D2">{{game_info.pieces.51}}</td>
                <td class="cell" id="E2">{{game_info.pieces.52}}</td>
                <td class="cell" id="F2">{{game_info.pieces.53}}</td>
                <td class="cell" id="G2">{{game_info.pieces.54}}</td>
                <td class="cell" id="H2">{{game_info.pieces.55}}</td>
                <td class="coordinate">2</td>
            </tr>
            <tr>
                <td class="cell" id="A1">{{game_info.pieces.56}}</td>
                <td class="cell" id="B1">{{game_info.pieces.57}}</td>
                <td class="cell" id="C1">{{game_info.pieces.58}}</td>
                <td class="cell" id="D1">{{game_info.pieces.59}}</td>
                <td class="cell" id="E1">{{game_info.pieces.60}}</td>
                <td class="cell" id="F1">{{game_info.pieces.61}}</td>
                <td class="cell" id="G1">{{game_info.pieces.62}}</td>
                <td class="cell" id="H1">{{game_info.pieces.63}}</td>
                <td class="coordinate">1</td>
            </tr>
            <tr>
                <td class="coordinate">A</td>
                <td class="coordinate">B</td>
                <td class="coordinate">C</td>
                <td class="coordinate">D</td>
                <td class="coordinate">E</td>
                <td class="coordinate">F</td>
                <td class="coordinate">G</td>
                <td class="coordinate">H</td>
                <td class="coordinate">
                </td>
            </tr>
        </table>
    </div>
    <!-- game_ui end -->
    <input type="hidden" id="error" value="{{error}}"/>
    <div class="game_info_box">
        <h3 id="turn">{{game_info.turn}}</h3>
        <h3 id="end">{{game_info.end}}</h3>
        <form action="/move" class="game_interface" method="post">
            <input class="room_id" name="room_id" type="hidden" value="{{game_info.roomId}}">
            <input class="command" name="sourcePosition" placeholder="출발지를 입력하세요. ex) a2" type="text"/>
            <input class="command" name="targetPosition" placeholder="도착지를 입력하세요. ex) 32" type="text"/>
            <input id="moveBtn" type="submit" value="이동"/>
        </form>
        <br/><br/>
        <div class="score_board">
            <div class="score_box">
                WHITE
                <br/>
                <p class="score">{{game_info.whiteScore}}</p>
            </div>
            <div class="score_box">
                BLACK
                <br/>
                <p class="score">{{game_info.blackScore}}</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
