<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>체스 게임 대기방</title>
    <link rel="stylesheet" href="./src/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
</head>
<body>

<h1>♟️ 체스 게임 대기방♟</h1>

<div id="boxs">
    <div id="game-entry">
        <h2 class="inContent"> @ 방 번호를 입력하여 시작하기</h2>
        <form class="inContent" action="/init" method="post">
            <label for="game-entry">
            </label>
            <br>
            방 제목 : <input type="text" name="gameId" value="1234">
            <br>
            비밀번호 : <input type="password" name="gamePassword" value="1234">
            <br>
            <button type="submit">새로운 방 생성</button>
        </form>
        {{msg}}
    </div>

    <div class="rooms">
        {{#each rooms}}
            <div class="room">
                <form class="inContent" action="/start" method="post">
                    <input type="hidden" name="gameId" value="{{this.gameId}}">
                    <input type="hidden" name="gamePassword" value="{{this.gamePassword}}">
                    방 : {{this.gameId}}<button type="submit" >입장하기</button>
                </form>

                <form class="inContent" action="/exit" method="post">
                    <input type="hidden" name="gameId" value="{{this.gameId}}">
                    비밀번호
                    <input type="password" name="gamePassword" value="">
                    <button type="submit" >삭제하기</button>
                </form>
            </div>
        {{/each}}
    </div>
</div>

</body>
</html>
