<!DOCTYPE html>
<html lang="ko-kr">
<head>
    <meta charset="UTF-8">
    <title>체스</title>
</head>
<body>
<h1>체스 게임을 시작합니다</h1>
<h2>{{error.message}}</h2>

<form action="/rooms" method = "POST">
    <label>
        방 추가 <br>
    </label>
    <input type="text" name="roomName">
    <input type="submit" value="시작">
</form>

<h2>진행 게임 목록</h2>
{{#roomList}}
<tr>
    <th>{{id}}</th>
    <th>{{name}}</th>
    <th><a href="/game/{{id}}">Enter</a></th>
    <button id={{id}} class="delete-btn">Delete</button>
    <br>
</tr>
{{/roomList}}

</body>
<script src="/script/main.js"></script>
</html>