<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Woowa Kingdom Chess</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <style>
        #center {
            display: flex;
            justify-content: center;
            width: 80%;
        }
    </style>
</head>
<body>
<div id="main">
    <div id="title">
        <p>Woowa Kingdom Chess</p>
        <p style="font-size: 30px; color: red">{{error}}</p>
    </div>
    <div id="center">
        <div id="right">
            <div id="rooms">
                <table>
                    <thead>
                    <tr>
                        <th class="fixed">No.</th>
                        <th class="fixed">방 이름</th>
                        <th class="fixed">black 팀</th>
                        <th class="fixed">white 팀</th>
                        <th class="fixed">상태</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#rooms}}
                    <tr>
                        <td class="room-no">{{@index}}</td>
                        <td>{{title}}</td>
                        <td>{{#if blackUser}}
                                {{#if playing}}
                                    <button onclick="showBlackUserPasswordPopup()">{{blackUser}}</button>
                                    <div id="black-user-password-popup" class="hide">
                                        <div class="content">
                                            <form action="/rooms/{{id}}/users/black/re-enter" method="post">
                                                비밀번호 : <input type="text" name="password" id="black-user-password-value" required size="10">
                                                <br><br>
                                                <input type="submit" value="확인">
                                            </form>
                                            <button onclick="closeBlackUserPasswordPopup()">닫 기</button>
                                        </div>
                                    </div>
                                {{else}}
                                    {{blackUser}}
                                {{/if}}
                            {{else}}
                                <button onclick="showEnterPopup()">참여</button>
                                <div id="enter-popup" class="hide">
                                    <div class="content">
                                        <form action="/rooms/{{id}}/users/blackuser/add" method="post">
                                            닉네임 : <input type="text" name="nickname" id="black-user-id" required size="10">
                                            <br><br>
                                            비밀번호 : <input type="text" name="password" id="black-user-password" required size="10">
                                            <br><br>
                                            <input type="submit" value="입장">
                                        </form>
                                        <button onclick="closeEnterPopup()">닫 기</button>
                                    </div>
                                </div>
                            {{/if}}
                        </td>
                        <td>{{#if whiteUser}}
                                {{#if playing}}
                                    <button onclick="showWhiteUserPasswordPopup()">{{whiteUser}}</button>
                                    <div id="white-user-password-popup" class="hide">
                                        <div class="content">
                                            <form action="/rooms/{{id}}/users/white/re-enter" method="post">
                                                비밀번호 : <input type="text" name="password" id="white-user-password-value" required size="10">
                                                <br><br>
                                                <input type="submit" value="확인">
                                            </form>
                                            <button onclick="closeWhiteUserPasswordPopup()">닫 기</button>
                                        </div>
                                    </div>
                                {{else}}
                                    {{whiteUser}}
                                {{/if}}
                            {{/if}}
                        </td>
                        <td>{{status}}</td>
                    </tr>
                    {{/rooms}}
                    </tbody>
                </table>
            </div>
            <div id="create-button">
                <input type="button" value="방 만들기" onclick="showPopup()">
            </div>
        </div>
        <div id="result">
            <table>
                <thead>
                <tr>
                    <th class="fixed">No.</th>
                    <th class="fixed">닉네임</th>
                    <th class="fixed">승</th>
                    <th class="fixed">패</th>
                </tr>
                </thead>
                <tbody>
                {{#results}}
                <tr>
                    <td class="user-no">{{@index}}</td>
                    <td>{{nickname}}</td>
                    <td>{{winCount}}</td>
                    <td>{{loseCount}}</td>
                </tr>
                {{/results}}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="popup" class="hide">
  <div class="content">
  <form action="/rooms" method="post">
      방 이름 : <input type="text" name="name" id="room-name" required size="10">
      <br><br>
      닉네임 : <input type="text" name="nickname" id="user-id" required size="10">
      <br><br>
      비밀번호 : <input type="text" name="password" id="user-password" required size="10">
      <br><br>
    <input type="submit" value="방 만들기">
  </form>
  <button onclick="closePopup()">닫 기</button>
  </div>
</div>

<footer>
    image source:
    <cite><a href="https://kr.freepik.com/vectors/banner">kr.freepik.com</a></cite>
</footer>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
</body>
</html>