<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>체스</title>
    <style>

        .body {
            text-align: center;
            margin-top: 15px;
        }

        .gameList {
            display: inline-block;
            overflow: scroll;
            width: 500px;
            height: 400px;
        }

        table {
            border: 1px solid;
        }

        th, td {
            border: 1px solid;
            text-align: center;
            width: 250px;
        }

        button {
            display: inline-block;
            font-size: 14px;
        }

    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

<div class="body">
    <h2>## 체스방 목록 ##</h2>
    <p>입장하고 싶은 방을 클릭하세요!</p>
    <div class="gameList">
        <table>
            <tr>
                <th>방번호</th>
                <th>진행여부</th>
                <th>삭제버튼</th>
            </tr>
            {{#each games}}
            <tr>
                <td>
                    <a href="/games/{{this.id}}">{{this.title}}#{{this.id}}</a>
                </td>
                <td>
                    {{#if this.finished}}
                    종료
                    {{else}}
                    진행중
                    {{/if}}
                </td>
                <td>
                    <button type="button" onclick=removeGame({{this.id}})>삭제</button>
                </td>
            </tr>
            {{/each}}
        </table>
    </div>

    <br>
    <br>

    <button type="button" onclick=createNewGame()>새로 시작하기</button>
    <form id="createForm" method="post" action="/games/start" style="display: none">
        <input type="text" id="title" name="title">
        <input type="text" id="password" name="password">
    </form>
</div>

<script>

    function createNewGame() {
        document.getElementById("title").value = prompt("체스방 제목을 입력하세요", "room")
        document.getElementById("password").value = prompt("체스방 비밀번호를 입력하세요", "")
        document.getElementById("createForm").submit()
    }

    function removeGame(gameId) {
        const password = prompt("체스방 비밀번호를 입력하세요", "")
        $.ajax({
            url: "/games/" + gameId + "/remove",
            type: "delete",
            data: {
                "password": password
            }
        })
        .done(function() {
            location.reload()
        })
        .fail(function(data) {
            alert(data.responseText)
        })
    }

</script>

</body>
</html>