<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Klay's Chess Game</title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <div class="header center-object">
        <a class="center-object" href ="/"><h1 class="main-message">초간단 체스게임♞</h1></a>
    </div>
    <h2 class="main-message center-object">게임 목록</h2>
    <div>
        <table class="room-table center-object" id="rooms">
            <tr>
                <td class="room-cell"><h3>게임 이름</h3></td>
                <td class="room-cell"><h3>상태</h3></td>
                <td class="room-cell"></td>
            </tr>
            {{#each allRooms.rooms}}
            <tr>
                <td class="room-cell" id="{{this.name}}">
                    <a href ="/room/{{this.id}}/game">
                        <h3>{{this.name}}</h3>
                    </a>
                </td>
                <td class="room-cell" id="{{this.status}}">{{this.status}}</td>
                <td class="room-cell">
                    <button class="button delete-game-button" type="button" id="{{this.id}}">삭제</button>
                </td>
            </tr>
        {{/each}}
        </table>
    </div>
    </br>
    <div class="center-object">
        <form action="/room" method="post" >
            <label for="name">새 게임방 만들기: </label>
            <input type="text" name="name" id="name" placeholder="이름" required>
            <input type="password" name="password" id="password" placeholder="암호" required>
            <button id="create-room-button" type="submit">만들기!</button>
        </form>
    </div>
    <script src="/script/index.js"></script>
</body>
</html>