<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Woowa Kingdom Chess</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <style>
        #center {
            display: flex;
            justify-content: center;
            width: 80%;
        }
    </style>
</head>
<body>
<div id="main">
    <div id="title">
        <p>Woowa Kingdom Chess</p>
        <p style="font-size: 30px; color: red">{{error}}</p>
    </div>
    <div id="center">
        <div id="right">
            <div id="rooms">
                <table>
                    <thead>
                    <tr>
                        <th class="fixed">No.</th>
                        <th class="fixed">방 이름</th>
                        <th class="fixed">black 팀</th>
                        <th class="fixed">white 팀</th>
                        <th class="fixed">상태</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#rooms}}
                    <tr>
                        <td class="room-no">{{id}}</td>
                        <td>{{title}}</td>
                        {{#if blackNickname}}
                          <td>{{blackNickname}}</td>
                        {{else}}
                          <td><input type="button" value="입장" onclick="showEnterBlackPopup({{id}})"></td>
                        {{/if}}
                        {{#if whiteNickname}}
                          <td>{{whiteNickname}}</td>
                        {{else}}
                          <td><input type="button" value="입장" onclick="showEnterWhitePopup({{id}})"></td>
                        {{/if}}
                        <td>{{status}}</td>
                    </tr>
                    {{/rooms}}
                    </tbody>
                </table>
            </div>
            <div id="create-button">
                <input type="button" value="방 만들기" onclick="showNewGamePopup()">
            </div>
        </div>
        <div id="result">
            <table>
                <thead>
                <tr>
                    <th class="fixed">No.</th>
                    <th class="fixed">닉네임</th>
                    <th class="fixed">승</th>
                    <th class="fixed">패</th>
                </tr>
                </thead>
                <tbody>
                {{#results}}
                <tr>
                    <td class="user-no">{{@index}}</td>
                    <td>{{nickname}}</td>
                    <td>{{winCount}}</td>
                    <td>{{loseCount}}</td>
                </tr>
                {{/results}}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="popup" class="new-game hide">
  <div class="content">

  <form action="/chess/new-game" method="post">
      방 이름 : <input type="text" name="title" required size="10">
      <br><br>
      아이디 : <input type="text" name="nickname" required size="10">
      <br><br>
      비밀번호 : <input type="password" name="password" required size="10">
      <br><br>
    <input type="submit" value="방 만들기">
  </form>
  <button onclick="closeNewGamePopup()">닫 기</button>
  </div>
</div>

<div id="popup" class="enter-black hide">
  <div class="content">

  <form action="/chess/enter" method="post">
      <input type="hidden" id="color" name="color" value="black">
      <input type="hidden" id="game-id" name="id" value="">
      흑색 유저 닉네임 : <input type="text" id="user-nickname" name="nickname" required size="10">
      <br><br>
      비밀번호 : <input type="password" id="user-password" name="password" required size="10">
      <br><br>
    <input type="submit" value="입장하기">
  </form>
  <button onclick="closeEnterBlackPopup()">닫 기</button>
  </div>
</div>

<div id="popup" class="enter-white hide">
  <div class="content">

  <form action="/chess/enter" method="post">
      <input type="hidden" id="color" name="color" value="white">
      <input type="hidden" id="game-id" name="id" value="">
      백색 유저 닉네임 : <input type="text" id="user-nickname" name="nickname" required size="10">
      <br><br>
      비밀번호 : <input type="password" id="user-password" name="password" required size="10">
      <br><br>
    <input type="submit" value="입장하기">
  </form>
  <button onclick="closeEnterWhitePopup()">닫 기</button>
  </div>
</div>

<footer>
    image source:
    <cite><a href="https://kr.freepik.com/vectors/banner">kr.freepik.com</a></cite>
</footer>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
</body>
</html>