<!DOCTYPE html>
<html lang="ko">
{{#response}}
{{#metadata}}
<head>
    <meta charset="UTF-8"/>
    <title>{{name}} | 체스 시뮬레이터</title>
    <link rel="stylesheet" href="/styles/game.css"/>
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
</head>
<body>
<section class="header__container">
    <h1>{{name}}</h1>
    <div class="game_info__container">
        <span>게임 ID: {{id}} | 게임 상태: </span>
        {{/metadata}}
        {{#snapshot}}
        <span class="bold">{{stateValue}}</span>
    </div>
</section>
<section id="chess_board">
    {{#board}}
    <div class="row">
        {{#squares}}
        <div class="square">
            <span class="piece {{color}}">{{value}}</span>
        </div>
        {{/squares}}
    </div>
    {{/board}}
</section>
<section>
    <p>현재 턴에 맞는 색상의 체스말을 클릭한 후, 이동하고 싶은 장소를 클릭!</p>
    <p>다른 체스말을 이동하고 싶다면 선택된 체스말을 다시 한번 클릭!</p>
</section>
<section>
    <a href="/">뒤로가기!</a>
</section>
<section id={{state}} class="popup">
{{/snapshot}}
    <div class="popup__container">
        <div class="popup__title">게임이 종료되었습니다!</div>
        <a href="/result/{{metadata.id}}">게임결과 보러 가기!</a>
    </div>
</section>
{{/response}}
<script src="/scripts/update-game.js"></script>
</body>
</html>
