<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8"/>
    <title>결과 조회 | 체스 시뮬레이터</title>
    <link rel="stylesheet" href="/styles/result.css"/>
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
</head>
<body>
{{#response}}
{{#metadata}}
<section class="header__container">
    <h1 id="game_name">{{name}}</h1>
    <div class="game_info__container">
        <div>
            <span>게임 ID: {{id}} | </span>
            {{/metadata}}
            {{#result}}
            <span class="bold">승자: {{winner}}</span>
        </div>
        <div>White 점수: {{whiteScore}}점</div>
        <div>Black 점수: {{blackScore}}점</div>
        {{/result}}
    </div>
</section>
{{#snapshot}}
<section id="chess_board">
    {{#board}}
    <div class="row">
        {{#squares}}
        <div class="square">
            <span class="piece {{color}}">{{value}}</span>
        </div>
        {{/squares}}
    </div>
    {{/board}}
</section>
<form action="/game/{{game.id}}">
    <label for="password_input">비밀번호</label>
    <input type="password" required id="password_input" name="password"/>
    <input type="submit" value="삭제"/>
</form>
{{/snapshot}}
<section class="buttons__container">
    <a href="/">홈으로 돌아가기!</a>
</section>
{{/response}}
<script src="/scripts/delete-game.js"></script>
</body>
</html>
