<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>체스 게임</title>
    <link rel="stylesheet" href="/css/room-list.css">
</head>
<body>
<div id="main-div">
    <div class="title-wrapper">
        <span class="title">CHESS </span>
        <span class="subtitle">GAME</span>
    </div>
    <div id="start-out-div">
        <div id="start-in-div">
            <table id="table">
                <tr>
                    <th id="table-id">
                        ID
                    </th>
                    <th id="table-name">
                        게임이름
                    </th>
                    <th id="table-enter">
                        입장
                    </th>
                    <th id="table-delete">
                        삭제
                    </th>
                </tr>
                {{#rooms}}
                    <tr>
                        <td>
                            <div id="{{roomId}}" class="room">{{roomId}}</div>
                        </td>
                        <td>
                            <div id="room {{roomId}} name" class="rooms">{{roomName}}</div>
                        </td>
                        <td>
                            <input type="button" id="room{{roomId}}" class="room roomNames" value="입장">
                        </td>
                        <td>
                            <input type="button" id="deleteRoom{{roomId}}" class = "room roomDelete" value="삭제">
                        </td>
                    </tr>
                {{/rooms}}
            </table>
        </div>
    </div>
    <button id="home-btn" type="button" class="btn btn-outline-primary">홈 화면</button>
</div>
<script src="/js/room-list.js" type="module"></script>
</body>
</html>