<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8"/>
    <title>체스 시뮬레이터</title>
    <link rel="stylesheet" href="/styles/search.css"/>
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
</head>
<body>
{{#response}}
<section class="header__container">
    <h1>체스 시뮬레이터</h1>
    <p>체스 말의 기초적인 움직임을 테스트하기 위한 사이트</p>
    <div>총 <span id="total">{{gameCount.totalCount}}</span>개의 게임이 생성되었습니다.</div>
    <div>현재 <span id="runCount">{{gameCount.runningCount}}</span>개의 게임이 진행 중입니다.</div>
</section>

<br>

<div id="table">
<table>
    <tr>
        <th>id</th>
        <th>title</th>
        <th>running</th>
        <th>password</th>
        <th>button</th>
    </tr>
{{#games}}
<tr>
    <form method="post" class="game_form">
        <td><div class="id">{{id}}</div></td>
        <td><a href="/game/{{id}}">{{title}}</a></td>
        <td><div class="running">{{running}}</div></td>
        <td><input type="password" class="password" min="1" name="password"/></td>
        <td><button type="submit" class="delete_button">삭제</button></td>
    </form>
</tr>
{{/games}}

</table>
</div>
{{/response}}
<section class="buttons__container">
    <a href="/" class="a">뒤로가기!</a>
</section>
<script src="/scripts/search-game.js"></script>
</body>
</html>
